[Unit]
Description=Periodically download local trailers for Jellyfin content

[Timer]
OnBootSec=15min
OnUnitInactiveSec=1day

[Install]
WantedBy=timers.target